---
---

@import "{{ site.theme }}";

body {
  font-size: 18px;
}

#main_content {
  padding-top: 1rem;
}

/* Unset from theme */
ul, ol, dl {
  margin-bottom: 4px;
  margin-top: 4px;
}

#main_content_wrap {
  background: #fcfcfc;
}

.highlight: {
  background-color: white;
}

code {
  padding: 4px 3px 1px;
}

pre {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

img {
  box-shadow: none;
}

/* Keep links underlined for accessiblity */
a {
  text-decoration: underline;
}

a:hover {
  font-weight: normal;
}

a.glossary {
  text-decoration-style: dashed;
  text-decoration-color: #0F79D0;
  text-underline-position: under;
  color: inherit;
}


a.glossary.missing {
  text-decoration-style: wavy;
  text-decoration-color: rgba(255,0,0,0.3);
}

/* don't wrap links in footer (avoid glossary terms being split in two) */
footer a {
  white-space: nowrap;
}

/* Insert the word "Glossary:" in front of the first h1 of glossary pages */
body.glossary_page #main_content>h1:first-child::before {
  content: "Glossary: "; font-weight: normal;
}

p {
  white-space: pre-wrap;
}
