---
---

@import "{{ site.theme }}";

body {
  font-size: 18px;
}

#main_content_wrap {
  background: #fcfcfc;
}

img {
  box-shadow: none;
}

/* Keep links underlined for accessiblity */
a {
  text-decoration: underline;
}

a:hover {
  font-weight: normal;
}

a.glossary {
  text-decoration-style: dotted;
}
