<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <title>{{ page.title }} - Statecharts</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ page.description }}">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />

    <meta name="twitter:label1" value="Word count"/>
    <meta name="twitter:data1" value="{{ page.content | number_of_words }}"/>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="canonical" href="https://statecharts.github.io{{ page.url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <script>
      window.onload = () => {
        
        // add title attributes and highlight missing glossary entries
        document.querySelectorAll('a.glossary').forEach(a => {
          if (a.attributes.href) {
            var g = document.querySelector('footer a[href="/' + a.attributes.href.value + '"]');
            if (g) {
              a.title = g.title;
            }
            else {
              a.classList.add('missing');
              a.title = "Missing glossary entry";
            }
          }
        });
        
      };
    </script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TSK7VG6');</script>
<!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24028448-3"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-24028448-3');
  </script>
  <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "name": "{{ page.title }}",
  "url": "https://statecharts.github.io{{ page.url }}",
  "description": "{{ page.description }}",
  "mainContentOfPage": {
    "@type": "WebPageElement",
    "cssSelector": "#main_content"
  },
  "speakable": {
    "@type": "SpeakableSpecification",
    "cssSelector": "#main_content"
  }
}
  </script>
  </head>

  <body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSK7VG6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>This page is a part of the <a href="https://statecharts.github.io/">statecharts.github.io</a> project.  Check out the <a href="https://spectrum.chat/statecharts/general">chat rooms</a> over on spectrum.chat where you can find more people discussing statecharts.</p>
        <p>Published using <a href="https://pages.github.com">GitHub Pages</a> from <a href="https://github.com/statecharts/">github.com/statecharts</a> (<a href="{{ site.github.repository_url }}/edit/master/{{ page.path }}">edit this page</a>)</p>
        <p>Glossary:   {% for item in site.glossary %}<a href="{{ item.url }}" title="{{ item.oneliner }}">{{ item.title }}</a>   {% endfor %}</p>
      </footer>
    </div>
  </body>
</html>
