<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" prefix="og: http://ogp.me/ns#">

  <head>
    <title>{{ page.title }} - Glossary - Statecharts</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ page.description }}">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.oneliner }}" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <script>
      window.onload = () => {
        
        // add title attributes and highlight missing glossary entries
        document.querySelectorAll('a.glossary').forEach(a => {
          if (a.attributes.href) {
            var g = document.querySelector('footer a[href="/glossary/' + a.attributes.href.value + '"]');
            if (g) {
              a.title = g.title;
            }
            else {
              a.classList.add('missing');
              a.title = "Missing glossary entry";
            }
          }
        });
        
      };
    </script>

<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24028448-3"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-24028448-3');
    </script>
    
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "name": "{{ page.title }}",
  "url": "{{ page.url }}",
  "description": "{{ page.oneliner }}",
  "mainContentOfPage": {
    "@type": "WebPageElement",
    "cssSelector": "#main_content"
  }
}
  </script>

  </head>

  <body class="glossary_page">
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer" itemprop="mainEntity" itemscope itemtype="http://schema.org/DefinedTerm">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
      <link itemprop="url" href="{{ page.url }}">
      <meta itemprop="description" content="{{ page.oneliner }}">
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>This glossary entry comes from the <a href="https://statecharts.github.io/">statecharts.github.io</a> project.  Check out the <a href="https://spectrum.chat/statecharts/general">chat rooms</a> over on spectrum.chat where you can find more people discussing statecharts.</p>
        <p>If you're writing a blog post about statecharts, feel free to link to this or any glossary terms in the footer when you need to introduce new terms.</p>
        <p>Published using <a href="https://pages.github.com">GitHub Pages</a> from <a href="https://github.com/statecharts/">github.com/statecharts/</a> (<a href="{{ site.github.repository_url }}/edit/master/{{ page.relative_path }}">edit this page</a>)</p>
        <p itemscope itemtype="http://schema.org/DefinedTermSet"
           >{% for item in site.glossary 
             %}<span itemscope itemtype="http://schema.org/DefinedTerm"
                     ><link
                 itemprop="url" href="{{ item.url }}"><meta
                 itemprop="description" content="{{ item.oneliner }}"><a
                href="{{ item.url }}" title="{{ item.oneliner }}"
               itemprop="name">{{ item.title }}</a></span>   {% endfor %}</p>
      </footer>
    </div>
  </body>
</html>
