<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <title>{{ page.title }} - Glossary - Statecharts</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24028448-3"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-24028448-3');
    </script>
    <script>
      document.onload = () => {
        
        // add title attributes and highlight missing glossary entries
        document.querySelectorAll('a.glossary').forEach(a => {
          if (a.attributes.href) {
            var g = document.querySelector('footer a[href="/glossary/' + a.attributes.href.value + '"]');
            if (g) {
              a.title = g.title;
            }
            else {
              a.classList += 'missing';
            }
          }
        });
        
      };
    </script>
  </head>

  <body class="glossary_page">
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>
          This glossary entry comes from the <a href="https://statecharts.github.io/">statecharts.github.io</a> project.
          Check out the <a href="https://spectrum.chat/statecharts/general">chat rooms</a> over on spectrum.chat
          where you can find more people discussing statecharts. 
        </p>
        <p>
          Published with <a href="https://pages.github.com">GitHub Pages</a> from
          <a href="https://github.com/statecharts/">github.com/statecharts/</a>
          (<a href="{{ site.github.repository_url }}/edit/master/{{ page.relative_path }}">edit this page</a>)
        </p>
        <p>
          {% for item in site.glossary %}
            <a href="{{ item.url }}" title="{{ item.oneliner }}">{{ item.title }}</a>
          {% endfor %}
        </p>
      </footer>
    </div>
  </body>
</html>
