<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" prefix="og: http://ogp.me/ns#">

  <head>
    <title>{{ page.title }} - Glossary - Statecharts</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ page.description }}">
    <meta property="og:site_name" content="Statecharts: glossary entry"/>
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://statecharts.github.io{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.oneliner }}" />
    
    <meta name="twitter:label1" value="Word count"/>
    <meta name="twitter:data1" value="{{ page.content | number_of_words }}"/>
    
    {% if page.breadcrumbs | size > 0 %}
    <meta name="twitter:label2" value="Specialization of"/>
    <meta name="twitter:data2" value="{{ page.breadcrumbs[0].name }}"/>
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <link rel="canonical" href="https://statecharts.github.io{{ page.url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <script>
      window.onload = () => {
        
        // add title attributes and highlight missing glossary entries
        document.querySelectorAll('a.glossary').forEach(a => {
          if (a.attributes.href) {
            var g = document.querySelector('footer a[href="/glossary/' + a.attributes.href.value + '"]');
            if (g) {
              a.title = g.title;
            }
            else {
              a.classList.add('missing');
              a.title = "Missing glossary entry";
            }
          }
        });
        
      };
    </script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TSK7VG6');</script>
<!-- End Google Tag Manager -->


<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24028448-3"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-24028448-3');
    </script>
    
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "name": "{{ page.title }}",
  "url": "https://statecharts.github.io{{ page.url }}",
  "description": "{{ page.oneliner }}",
  "isAccessibleForFree": true,
  "keywords": [
{% if page.keywords %}
{% for keyword in page.keywords %}
     "{{ keyword }}",
{% endfor %}
{% endif %}
     "statechart",
     "statecharts",
  ]
  "isPartOf": {
    "@type": "CreativeWork",
    "name": "Statechart Glossary",
    "url": "https://statecharts.github.io/glossary/"
  },
  "mainContentOfPage": {
    "@type": "WebPageElement",
    "cssSelector": "#main_content"
  },
  "speakable": {
    "@type": "SpeakableSpecification",
    "cssSelector": "#main_content"
  }
  {% if page.primaryImage %}
  ,"primaryImageOfPage": {
    "@type": "ImageObject",
    "contentUrl": "https://statecharts.github.io/glossary/{{ page.primaryImage }}"
  }
  {% endif %}
  {% if page.aka %}
  , "alternateName": [
    {% for aka in page.aka %}
      "{{ aka.title }}"
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
  {% endif %}
}
  </script>

  </head>

  <body class="glossary_page">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSK7VG6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section class="inner">
        <nav class="breadcrumbs" role="navigation"  itemscope itemtype="http://schema.org/BreadcrumbList">
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="https://statecharts.github.io/glossary/">
              <span itemprop="name">Glossary</span>
            </a>
            <!--meta itemprop="position" content="1" /-->
          </span>
          {% for item in page.breadcrumbs %} › 
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemscope itemtype="http://schema.org/Thing" itemprop="item"
                 href="https://statecharts.github.io/glossary/{{ item.id }}.html">
                <span itemprop="name">{{ item.name }}</span>
                <meta itemprop="position" content="{{ forloop.index | plus:1 }}" />
              </a>
            </span>
          {% endfor %} › 
          <span>{{ page.title }}</span>
        </nav>
        <div id="main_content" role="main">
          {{ content }}
        </div>
        {% assign childitems = "" | split:"" %}
        {% for item in site.glossary %}
          {% assign i = '/glossary/' | append: item.breadcrumbs[0].id %}
          {% assign i = i | append: '.html' %}
          {% if page.url == i %}
            {% assign childitems = childitems | push: item %}
          {% endif %}
          {% assign i = '/glossary/' | append: item.breadcrumbs[1].id %}
          {% assign i = i | append: '.html' %}
          {% if page.url == i %}
            {% assign childitems = childitems | push: item %}
          {% endif %}
        {% endfor %} 
        {% if childitems.size > 0 %}
          <h3>See also</h3>
          <ul role="navigation">
            {% for item in childitems %}
              <li>
                <a href="https://statecharts.github.io{{ item.url }}">
                  <span>{{ item.title }}</span></a> — <span>{{ item.oneliner }}</span>
              </li>
            {% endfor %} 
          </ul>
        {% endif %}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer" role="contentinfo">
      <footer class="inner">
        <p>This glossary entry comes from the <a href="https://statecharts.github.io/">statecharts.github.io</a> project.  Check out the <a href="https://spectrum.chat/statecharts/general">chat rooms</a> over on spectrum.chat where you can find more people discussing statecharts.</p>
        <p>If you're writing a blog post about statecharts, feel free to link to this or any glossary terms in the footer when you need to introduce new terms.</p>
        <p>Published using <a href="https://pages.github.com">GitHub Pages</a> from <a href="https://github.com/statecharts/">github.com/statecharts/</a> (<a href="{{ site.github.repository_url }}/edit/master/{{ page.relative_path }}">edit this page</a>)</p>
        <p itemscope itemtype="http://schema.org/DefinedTermSet"
           >{% for item in site.glossary 
             %}<span itemscope itemtype="http://schema.org/DefinedTerm"
                     ><link
                 itemprop="url" href="{{ item.url }}"><meta
                 itemprop="description" content="{{ item.oneliner }}"><a
                href="{{ item.url }}" title="{{ item.oneliner }}"
               ><span itemprop="name">{{ item.title }}</span></a></span>  {% endfor %}</p>
      </footer>
    </div>
    
  </body>
</html>
